# 项目排除路径
/.gradle/
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/build/classes/java/main/
/common/build/
/common/build/classes/java/main/
/fabric/.gradle/
/fabric/build/
/forge/build/
/neoforge/build/